body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
table {
  position: absolute;
  font-size: 0vw;
}
.box {
  padding: 1vw 1vw;
  background-color: rgb(255, 255, 255);
  max-width: 6vw;
  max-height: 15vh;
  min-width: 6vw;
  min-height: 15vh;
  position: static;
  color: rgb(0, 0, 0);
  margin-left: 1vw;
  margin-bottom: 0vh;
  border-bottom: 0.5vw solid black;
  font-size: 0vh;
}

.b {
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
  display: grid;
  padding: auto;
  font-size: 15vh;
}

ol {
  position: absolute;

  border: 1vw solid black;
  max-height: calc(60vh-20vw);
  min-width: 20vw;
  max-width: 20vw;
  text-align: left;
  height: 30vh;
  right: 0;
  top: 0;
}
.hint {
  position: absolute;
  margin-top: 25vh;
  border: 1vw solid black;
  min-width: 45vw;
  max-width: 50vw;
  height: 40vh;
  text-align: left;
  right: 0;
}
.img {
  position: absolute;
  margin-top: 25vh;
  border: 1vw solid black;
  max-height: calc(60vh-20vw);
  min-width: 50vw;
  max-width: 50vw;
  height: 40vh;
  text-align: left;
  left: 0;
}
.r {
  position: fixed;
  left: 2.75vw;
  bottom: 1vh;
  text-align: center;
  font-size: 0px;
}
.key {
  width: 9vw;
  height: 8vh;
  margin-right: 0px;
  margin-left: 0.5vw;
  margin-top: 1vh;
  border: none;
  border-radius: 1vh;
  font-size: 5vh;
  color: white;
  background-color: #818384;
  font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
}
